*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
--primary-color: rgb(128, 0, 255);   
}

.card{
    width: 150px;
    height: 200px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 7px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.3s ease;
}

.card img{
    width: 100px;
}

.PID{
    color: rgb(115, 115, 115);
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 7px var(--primary-color);
}

.types{
    display: flex;
    gap: 5px;
}