*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --card-color: rgb(235, 227, 227);
    --background-color: rgb(98, 98, 98);
}

.pokeImage{
    height: 500px;
    background-color: var(--card-color);
}

.pokeInfo-container{
    display: flex;
    height: 90vh;
    width: 100vw;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
}

.pokeInfo{
    background-color: var(--card-color);
    width: 30%;
    height: 500px;
    padding: 20px;
}

.name-and-id{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: rgb(128, 0, 255);
    color: white;
}

.id, .name{
    font-size: 35px;
}

.back-btn{
    background-color: var(--card-color);
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 20px;
    font-size: 15px;
    padding: 7px 9px;
}

.pokeInfo p{
    font-size: 20px;
}



.pokeInfo h3{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.moves-list{
    width: 30%;
    background-color: var(--card-color);
    height: 500px;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none;

}

.moves-list h3{
    font-size: 17px;
}

.list p{
    font-size: 15px;
}

.pokeInfoCard{
    display: flex;
    border-radius: 20px;
    background-color: var(--card-color);
    padding: 20px;
    border: none;
    box-shadow:  0px 0px 10px rgb(92, 92, 92);
    width: 70%;
}

.ToggleImage{
    padding: 5px 7px;
    border: none;
    border-radius: 20px;
    background-color: rgb(128, 0, 255);
    color: white;
    margin-right: 10px;
}

.pokeInfo audio{
    height: 30px;
    width: 100%;
    border: 1px solid rgb(128, 0, 255);
    border-radius: 20px;
}




@media (max-width: 1420px) {
    .pokeInfo p{
    font-size: 16px;
}
}

@media (max-width: 1280px) {
    .pokeImage{
    width: 400px;
    height: 400px;
    background-color: var(--card-color);
}

   .pokeInfoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: var(--card-color);
    padding: 20px;
    border: none;
    box-shadow:  0px 0px 10px rgb(92, 92, 92);
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.pokeInfo-container{
    display: block;
    height: 100%;
    width: 100vw;
    background-color: var(--background-color);
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.pokeInfo{
    width: 100%;
}

.moves-list{
    width: 100%;
}
}



@media (max-width: 590px) {
    .pokeImage{
    width: 300px;
    height: 300px;
   
}


.id, .name{
    font-size: 25px;
}
}

@media (max-width: 430px) {
    .pokeImage{
    width: 200px;
    height: 200px;
   
}

}